body {
  background-color: rgb(245, 244, 241);
  overflow-x: hidden;
}

.label {
  fill: black;
  font-size: 12px;
  text-anchor: middle;
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.label {
  fill: black;
  font-size: 12px;
  text-anchor: middle;
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.checkboxes {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

.input {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
}

.legend {
  height: 18px;
  width: 18px;
}

.input > * {
  margin-right: 10px;
}

#voting-rate-inputs {
  opacity: 0;
}

.candidates {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.candidates > figure > figcaption {
  text-align: center;
}

.candidates > figure > figcaption > span {
  font-style: italic;
}

.democrat {
  color: #019bd8;
}

.republican {
  color: #d81c28;
}

#sections {
  position: relative;
  display: inline-block;
  width: 450px;
  top: 30px;
  z-index: 90;
  margin-right: 100px;
}

.step {
  padding-top: 50px;
  padding-left: 20px;
  margin-bottom: 100px;
  margin-left: 20px;
  height: 800px;
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  font-weight: 400;
  line-height: 1.4em;
  text-align: left;
}

h1,
h2 {
  font-weight: 700;
  text-align: left;
  line-height: 32px;
}

h1 {
  font-size: 35px;
}

#graphic {
  margin: auto;
  width: 1500px;
  flex-direction: row;
  align-items: top;
  justify-content: space-around;
}

.viz-container {
  display: inline-block;
  position: fixed;
  top: 0px;
  z-index: 1;
  margin-left: 0;
  height: 1000px;
  width: 1000px;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.background {
  fill: none;
  pointer-events: all;
}

#states {
  fill: #aaa;
}

#states .active {
  display: none;
}

#state-borders {
  fill: none;
  stroke: rgb(63, 63, 63);
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.state {
  stroke: rgb(28, 28, 28);
  stroke-width: 0.5px;
}

.county {
  fill: #aaa;
  stroke: rgb(28, 28, 28);
  stroke-width: 0.25px;
}

.tooltip {
  position: absolute;
  background-color: #f7f7f7;
  padding: 3px 12px;
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  border: 1px solid #bbbbbb;
  box-shadow: 1px 1px 4px #bbbbbb;
  pointer-events: none;
  word-wrap: normal;
}

.tooltip-body {
  font-weight: normal;
  margin: 4px 0;
}

.legend-text {
  font-weight: normal;
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  font-size: 15px;
}

.container {
  font-weight: normal;
  padding: 5px;
}

.map-tooltip {
  background: white;
  border: 1px solid lightgrey;
  padding: 10px;
  position: absolute;
  stroke-linecap: round;
  border-radius: 5px;
  pointer-events: none;
}

.title {
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  font-weight: 700;
  font-size: 26px;
}

.tooltip-title {
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  font-weight: 700;
  margin-bottom: 2px;
  margin-top: 8px;
  font-size: 20px;
}

.text-semibold {
  font-weight: 600;
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  fill: black;
}

.text-normal {
  font-weight: 500;
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

svg {
  cursor: pointer;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  border-spacing: 5px;
  border-left-width: thin;
  border-color: grey;
}

thead.header > th {
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.cell-colorblock-dem {
  background-color: #019bd8;
}

.cell-colorblock-rep {
  background-color: #d81c28;
  padding-top: 3px;
}

.cell-colorblock {
  width: 2px;
  border-radius: 2px;
}
.cell-name {
  font-size: 14px;
}

.cell-vote {
  font-size: 14px;
}
th {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  color: grey;
  padding-bottom: 3px;
}
td {
  line-height: 14px;
}
.map-toggle-swing-state {
  margin-left: 200px;
}
.image {
  display: inline;
  padding: 100px;
}
.president {
  padding-left: 115px;
}
